hurray!
<!-- REFACTOR THIS ASAP WHEN YOU CAN. -->
<div class="show_bg">

		<% board.get("lists").each(function(list){ %>
			<div class="show list" data-id="list_<%= list.id %>">	
				<%= list.escape("title") %>
				<ul>
					<% list.get("cards").each(function(card){ %>

						<li>
							<div class="show card" data-id="card_<%= card.id %>">
								<%= card.escape("title") %>
								<ul>
									<% card.get("tasks").each(function(task){ %>
										<div class="show task" data-id="task_<%= task.id %>">
											<li> <%= task.escape("title") %></li>
										</div>
									<% }) %>							
								
								</ul>

							</div>
						</li>
					
					<% }) %>

				</ul>
				<a href="#" class="small button">Add a Card</a>
			</div>
		<% }) %>	
		<a href="#" class="button">Add List</a>
</div>



<a href="">Back??</a>