<div class="lists_container" board-id="<%=board_id %>" >
	<% lists.each(function(list){ %>

		<div class="show list" 
					id="list_<%= list.id %>" 
					list-id="<%= list.id %>"> 

					
		  <div class="list_title">
		    <h5><%= list.escape("title") %></h5>
		  </div>

		  <% var cardIndexContent = JST["cards/index"]({cards: list.get("cards"), list_id: list.id, board_id: board_id }) %>
		  <!-- ^ refactor, but not priority -->  
		  <%= cardIndexContent %>

		  <a href="#" 
		     class="small button"
		     id="add_card_link">
		    Add a Card
		  </a>

		</div>

	<% }) %>	
</div>